* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.banner {
  width: 100%;
  margin: 0;
  padding: 10px;
  color: #fff;
  background: #000;
  background-size: cover;
  background-blend-mode: screen;
  position: relative;
}

.navbar {
  background-color: black;
}

.intro-img {
  border: 3px solid green;
  border-radius: 25px;
}

.or-divider {
  border-top: 2px solid rgba(128, 128, 128, 0.227);
  text-align: center;
  position: relative;
  height: 15px;
}

.or-divider span {
  top: -0.8em;
  position: relative;
  padding: 0 0.5em;
  background: #fff;
  color: black;
  font-size: 35px;
}

.hover-container {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 10px;
}

/* Define a class for the default content */
.default-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-bottom: 20px;
  border-radius: 20px;
  color: #007bff;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}

/* Define a class for the hover content */
.hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hover-container:hover .default-content {
  opacity: 0;
}

.hover-container:hover .hover-content {
  opacity: 1;
}

.over-container {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 10px;
}

.over-container:hover .default-content {
  opacity: 0;
}

.over-container:hover .hover-content {
  opacity: 1;
}

.ver-container {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 240px;
  height: 250px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 10px;
}

.ver-container:hover .default-content {
  opacity: 0;
}

.ver-container:hover .hover-content {
  opacity: 1;
}

.er-container {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 430px;
  height: 300px;
  border: 1px solid #ccc;

  border-radius: 10px;
}

.er-container:hover .default-content {
  opacity: 0;
}

.er-container:hover .hover-content {
  opacity: 1;
}

.reg {
  background-image: url(../public/images/image13.jpg);
  background-size: calc(100%);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.for-divider {
  border-top: 6px solid #000;
  text-align: center;
  position: relative;
  height: 15px;
  width: 100%;
}

.for-divider span {
  top: -0.8em;
  right: 8em;
  position: relative;
  padding: 0 0.5em;
  background: #fff;
  color: black;
  font-size: 35px;
}

.fore-divider {
  border-top: 6px solid #000;
  text-align: center;
  position: relative;
  height: 15px;
}

.fore-divider span {
  top: -0.8em;
  left: 8em;
  position: relative;
  padding: 0 0.5em;
  background: #fff;
  color: black;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: inherit;
}

.accordion {
  max-width: 100%;
}

.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
}

.accordion .contentBx .label {
  position: relative;
  padding: 10px;
  color: #000;
}

.accordion .contentBx .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentBx.active .label::before {
  content: "-";
}

.accordion .contentBx .content {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.accordion .contentBx.active .content {
  height: 120px;
  padding: 10px;
}

.label {
  background-color: #fff;
  border: 1px solid gray;
}

.swiper-pagination-bullet {
  background: rgb(3, 164, 3) !important;
}

/* .swiper-button-next {
  top: 98% !important;
  border-radius: 50%;
  color: green;
  border: 1px solid black;
  height: 30px !important;
  width: 30px !important;
  right: 43%;
}

.swiper-button-next:after {
  line-height: 0.5 !important;
  font-family: swiper-icons;
  font-size: 15px;
  font-weight: bolder;
}

.swiper-button-prev {
  top: 98% !important;
  border-radius: 50%;
  color: green;
  border: 1px solid black;
  height: 30px !important;
  width: 30px !important;
  left: 43%;
} */

/* .swiper-button-prev:after {
  line-height: 0.5 !important;
  font-family: swiper-icons;
  font-size: 15px;
  font-weight: bolder;
} */

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.crid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
}

/* .footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: #000;
  color: #fff;
} */

.footer {
  background-color: black;
  color: white;
  padding: 40px 0;
  position: relative;
}

.containerr {
  padding-top: 90px;
  padding-bottom: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.column {
  width: calc(25% - 20px); /* Adjust width as needed */
  padding: 0 10px;
}

.footer-paragraph {
  text-align: center;
  border-top: 1px solid gray;
}

.opp {
  padding: 0;
  margin: 0;
}

.custom-shape-divider-top-1713650972 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1713650972 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.custom-shape-divider-top-1713650972 .shape-fill {
  fill: #ffffff;
}

footer li {
  color: gray;
}

.ba {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 250px;
  padding-left: 70px;
  box-sizing: border-box;
}

.ba .content {
  max-width: 550px;
  margin-bottom: 130px;
}

.ba .content h2 {
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 20px;
}
.ba .content p {
  color: #fff;
}

.ba img {
  position: absolute;
  width: 320px;
  height: 300px;
  z-index: 1000;
  right: 60px;
  bottom: 50px;
  border: 4px solid green;
}

.custom-shape-divider-bottom-1713680653 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1713680653 svg {
  position: relative;
  display: block;
  width: calc(155% + 1.3px);
  height: 163px;
}

.custom-shape-divider-bottom-1713680653 .shape-fill {
  fill: #fff;
}

.wave {
  position: absolute;
  left: 0;
  width: 100%;
}

.ban-img {
  position: relative;
}

.div1 {
  position: absolute;
  left: 35%;
  top: 50%;
}

.div2 {
  position: absolute;
  left: 35%;
  top: 75%;
}

.div3 {
  margin-top: 30px;
}
.div4 {
  position: absolute;
  right: 34%;
  top: 50%;
}

.div5 {
  position: absolute;
  right: 36%;
  top: 75%;
}

/* banner responsive */
@media screen and (max-width: 1000px) {
  .div1 {
    left: 25%;
  }
  .div2 {
    left: 25%;
  }
  .div4 {
    right: 25%;
  }
  .div5 {
    right: 25%;
  }
}

.banner li {
  list-style-type: none;
}

/* Responsive */

@media screen and (max-width: 782px) {
  .containerr {
    display: block;
  }

  .column {
    width: 100%;
    margin-bottom: 30px;
  }

  .first {
    align-items: center;
    justify-content: center;
  }

  .im-sect {
    flex-direction: column;
  }

  .coo {
    width: 100%;
    margin-left: 45%;
  }

  .co {
    width: 90%;
    margin: 10px auto;
    text-wrap: wrap;
  }

  .er-container {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* Responsive first row homepage */

@media screen and (min-width: 1340px) {
  .front {
    margin-top: 380px;
  }
  .img-txt {
    display: none;
  }
}

@media screen and (max-width: 1339px) {
  .front {
    margin-top: 250px;
  }
}

@media screen and (max-width: 850px) {
  .front {
    margin-top: 150px;
  }
}

/* contact page responsive */
@media screen and (max-width: 812px) {
  .slide-div {
    max-width: 500px;
    align-items: center;
  }
  .afterform {
    display: none;
  }
  .co {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 812px) {
  .crid {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .first-crid {
    order: 2;
  }

  .second-crid {
    order: 1;
  }

  .third-crid {
    order: 3;
  }

  .fourth-crid {
    order: 4;
  }

  .img-txt {
    display: block;
    padding-bottom: 14px;
  }

  .first-crid h4 {
    display: none;
  }

  .fourth-crid h4 {
    display: none;
  }
}
