* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: auto 40px;
}

/* *,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
} */

/* Example with multiple colors */

.mb-5 {
  margin-bottom: 0 !important;
}
.orig {
  background: url(../public/images/gron.png) no-repeat center;
  background-position: left 20px top 10px; /*Positioning*/
  background-repeat: no-repeat;
}
.tabbs {
  background: url(../public/images/gron.png) no-repeat center;
  background-position: right 20px top 10px; /*Positioning*/
  background-repeat: no-repeat;
}

.im-sect {
  background: url(../public/images/gron.png) no-repeat center;
  background-position: left 10px top 10px; /*Positioning*/
  background-repeat: no-repeat;
  border-top-left-radius: 10%;
}

.banner {
  width: 100%;
  color: #fff;
  background: #000;
  background-size: cover;
  background-blend-mode: screen;
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
}

.abb {
  overflow: hidden;
}

.navbar {
  background-color: black;
}

li {
  list-style-type: none;
}

.intro-img {
  border: 3px solid green;
  border-radius: 25px;
}

.or-divider {
  border-top: 2px solid rgba(128, 128, 128, 0.227);
  text-align: center;
  position: relative;
  height: 15px;
}

.or-divider span {
  top: -0.8em;
  position: relative;
  padding: 0 0.5em;
  background: #fff;
  color: black;
  font-size: 35px;
}

.hover-container {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 10px;
}

/* Define a class for the default content */
.default-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-bottom: 20px;
  border-radius: 20px;
  color: #007bff;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}

/* Define a class for the hover content */
.hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 128, 0, 0.813);
  color: #fff;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hover-container:hover .default-content {
  opacity: 0;
}

.hover-container:hover .hover-content {
  opacity: 1;
}

.over-container {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 10px;
}

.over-container:hover .default-content {
  opacity: 0;
}

.over-container:hover .hover-content {
  opacity: 1;
}

.ver-container {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 240px;
  height: 250px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 10px;
}

.ver-container:hover .default-content {
  opacity: 0;
}

.ver-container:hover .hover-content {
  opacity: 1;
}

.er-container {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 30%;
  height: 320px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.er-container:hover .default-content {
  opacity: 0;
}

.er-container:hover .hover-content {
  opacity: 1;
}

.form-control {
  border-radius: 0px !important;
  border: none !important;
}
.reg {
  background-image: url(../public/images/image13.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.for-divider {
  border-top: 6px solid #000;
  text-align: center;
  position: relative;
  height: 15px;
  width: 100%;
}

.for-divider span {
  top: -0.8em;
  right: 8em;
  position: relative;
  padding: 0 0.5em;
  background: #fff;
  color: black;
  font-size: 35px;
}

.cour {
  border-top: 6px solid #000;
  text-align: center;
  position: relative;
  height: 15px;
  width: 100%;
  display: none;
  padding-bottom: 10px;
}

.cour span {
  top: -0.8em;
  right: 8em;
  position: relative;
  padding: 0 0.5em;
  background: #fff;
  color: black;
  font-size: 35px;
}

.fore-divider {
  border-top: 6px solid #000;
  text-align: center;
  position: relative;
  height: 15px;
}

.fore-divider span {
  top: -0.8em;
  left: 8em;
  position: relative;
  padding: 0 0.5em;
  background: #fff;
  color: black;
  font-size: 35px;
}

.our {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.accordion {
  max-width: 100%;
}

.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
}

.accordion .contentBx .label {
  position: relative;
  padding: 10px;
  color: #000;
}

.accordion .contentBx .label::before {
  content: "+";
  color: green;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentBx.active .label::before {
  content: "-";
}

.accordion .contentBx .content {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.accordion .contentBx.active .content {
  height: 120px;
  padding: 10px;
}

.label {
  background-color: #fff;
  border: 1px solid gray;
}

.swiper-pagination-bullet {
  background: rgb(3, 164, 3) !important;
}

.form-check-input:checked {
  background-color: green !important;
}

.form-check-input {
  background-color: #f1f1f1;
  border: none;
}

.form-check-input:active {
  border: none !important;
}

.form-select {
  background-color: #f1f1f1 !important;
}

.app-wrap {
  overflow: hidden;
}
/* .swiper-button-next {
  top: 98% !important;
  border-radius: 50%;
  color: green;
  border: 1px solid black;
  height: 30px !important;
  width: 30px !important;
  right: 43%;
}

.swiper-button-next:after {
  line-height: 0.5 !important;
  font-family: swiper-icons;
  font-size: 15px;
  font-weight: bolder;
}

.swiper-button-prev {
  top: 98% !important;
  border-radius: 50%;
  color: green;
  border: 1px solid black;
  height: 30px !important;
  width: 30px !important;
  left: 43%;
} */

/* .swiper-button-prev:after {
  line-height: 0.5 !important;
  font-family: swiper-icons;
  font-size: 15px;
  font-weight: bolder;
} */

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

/* text-sizes */
.banner h1,
.orig h1 {
  font-family: "roboto slab", serif;
  font-size: 3.3rem;
}
.navbar h1 {
  font-family: "roboto slab", serif;
  font-size: 230%;
}
.cardi-text,
.faq,
.introspan {
  font-family: "roboto slab", serif;
  font-size: 3rem;
}
.hire {
  font-family: "roboto slab", serif;
  font-size: 2.5rem;
}

.contenti h3 {
  font-family: "roboto slab", serif;
  font-size: 3.3rem;
  margin-bottom: 20px;
}
/* text size end */

.crid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
}

.im-div {
  margin: 0 auto;
  margin-bottom: 30px;
}
/* .cod {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
} */

.team {
  display: flex;
}

.join-wrap {
  overflow: hidden;
}

.cod {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.codi {
  flex: 1;
  min-width: 0; /* Ensure flex items can shrink on small screens */
  width: 50%;
  margin: auto 30px;
}

.home {
  overflow: hidden;
}
/* .footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: #000;
  color: #fff;
} */
.img-txt {
  display: none;
}

.app-form {
  padding: 80px;
}

footer {
  background-color: black;
  color: white;
  padding: 40px 0;
  position: relative;
  width: 100%;
}

.co-cont {
  margin-right: 35px;
}
.containerr {
  padding-top: 90px;
  padding-bottom: 60px;
  max-width: 100%;
  margin: 10px 40px;
  padding: auto 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.column {
  width: 25% 20% 20% 20%; /* Adjust width as needed */
  padding: 0 0;
  min-width: 0;
}

.footer-paragraph {
  text-align: center;
  border-top: 1px solid gray;
}

.contact-wrap {
  overflow: hidden;
}
.detail-wrap {
  overflow: hidden;
}

.opp {
  padding: 0;
  margin: 0;
}

.readMoreClassName {
  color: blue;
  display: block;
}
.readLessClassName {
  color: blue;
  display: block;
}

footer li {
  color: gray;
}
footer .coll:hover {
  color: green;
  letter-spacing: 0.2px;
}

.process {
  display: none;
}

.contenti {
  width: 60%;
  align-items: center;
  padding-top: 250px;
  padding-left: 70px;
  box-sizing: border-box;
  padding-bottom: 50px;
  justify-self: start;
  color: #fff;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: #a5dc86 !important;
  border: none !important;
  box-shadow: none !important;
}

.aboout img {
  position: absolute;
  width: 320px;
  height: 300px;
  z-index: 1000;
  right: 60px;
  bottom: 20px;
  border: 4px solid green;
}

.form-select:focus {
  outline: none;
  border-color: #ced4da;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
  border-color: #ced4da;
  box-shadow: none;
}

.form-check .form-check-input:focus {
  outline: none;
  border-color: #ced4da;
  box-shadow: none;
}
.nav-img {
  width: 10%;
}
.ban-img {
  position: relative;
}

.div1 {
  position: absolute;
  left: 34%;
  top: 37%;
}
.divs:hover {
  color: green;
}

.div2 {
  position: absolute;
  left: 34%;
  top: 56%;
}

.div3 {
  margin-top: 20px;
}
.div4 {
  position: absolute;
  right: 36%;
  top: 37%;
}

.div5 {
  position: absolute;
  right: 33%;
  top: 56%;
}
.banner li {
  list-style-type: none;
}

/* new banner wrap */
.header {
  position: relative;
  text-align: center;
  background: black;
  color: white;
}
.cardi-text {
  margin: 20px 30px;
}
.card-sect {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex: 1;
  min-width: 0; /* Ensure flex items can shrink on small screens */
  width: 50%;
  margin: auto 30px;
}
.build {
  display: none;
}
.im-sect {
  margin-top: 70px;
}
.swiper-wrapper {
  padding: 0 !important;
}

.open {
  padding: 80px;
}
.formm {
  width: 80%;
}
.form-first {
  width: 50%;
}

.line {
  display: none;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: green; /* Change to desired color */
  color: #fff !important;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.wavs {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.paralax > use {
  animation: move-foreve 12s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

@keyframes move-foreve {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* media query */
@media screen and (max-width: 768px) {
  .detai-img {
    display: none;
  }
  /* banner waves responsive  */
  .wavs {
    height: 40px;
    min-height: 40px;
  }
  /* footer waves  */
  .waves {
    height: 40px;
    min-height: 40px;
  }

  /* application form */
  .form-first {
    width: 100%;
  }
  .app-form {
    padding: 60px 30px;
  }
  .formm {
    width: 100%;
  }
  .co-serve {
    width: 100%;
    /* padding-top: 30px; */
  }
  .contenti {
    width: 80%;
    padding-top: 100px;
    padding-left: 10px;
    margin-bottom: 100px;
  }
  .detail-div {
    margin: auto 20px;
    align-items: center;
    justify-content: center;
  }
  .for-divider {
    display: none;
  }
  .fore-divider {
    display: none;
  }
  .aboout img {
    width: 200px;
    height: 200px;
    right: 10px;
    bottom: 0px;
  }

  .ba .content h3 {
    width: 100%;
  }
  .ba {
    padding-top: 140px;
    padding-left: 10px;
  }
  .ba img {
    width: 150px;
    height: 150px;
    right: 10px;
    bottom: 50px;
  }
  .ba .content {
    max-width: 70%;
  }

  .ourm {
    display: none;
  }
  .our {
    display: block;
    padding-bottom: 20px;
  }
  .our span {
    top: -0.9em;
    right: 2em;
    padding: 0 0.5em;
    font-size: 20px;
  }

  .cour {
    display: block;
    padding-bottom: 40px;
  }
  .cour span {
    top: -0.9em;
    right: 1em;
    padding: 0 0.5em;
    font-size: 20px;
  }

  .nav-img {
    width: 27% !important;
  }

  .p-4 {
    padding: 0 !important;
  }

  /* banner responsive */
  .banner p {
    margin: 0 50px;
  }
  .div1 {
    left: 9%;
    top: 41%;
  }
  .div2 {
    left: 8%;
    top: 63%;
  }
  .div3 {
    margin-top: 10px;
  }
  .div4 {
    right: 15%;
    top: 41%;
  }
  .div5 {
    right: 5%;
    top: 63%;
  }

  .im-div {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .team {
    display: block;
    align-items: center;
    justify-content: center;
    padding: auto 30px;
  }

  .team-text {
    padding: 20px 30px;
  }
  .crid {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  /* tab section */
  .ser {
    width: 50%;
  }
  .tabb {
    padding: 9px;
  }
  .eng {
    width: 50%;
  }
  .ul-tab {
    display: flex;
    padding: 9px;
    align-items: center;
    justify-content: center;
  }
  .ind {
    width: 100%;
  }
  /* tab end */
  .line {
    display: block;
  }
  /* font size */

  .orig h1 {
    font-family: "roboto slab", serif;
    font-size: 1.7rem;
  }
  .banner {
    padding-top: 20px;
  }

  .buil {
    display: none;
  }
  .build {
    display: block;
  }
  .banner h1 {
    font-family: "roboto slab", serif;
    font-size: 1.9rem;
    font-weight: bold;
    padding: auto 20px;
  }
  .navbar h1 {
    font-family: "roboto slab", serif;
    font-size: 200%;
  }
  .cardi-text,
  .faq,
  .introspan {
    font-family: "roboto slab", serif;
    font-size: 2rem;
  }
  .hire {
    font-family: "roboto slab", serif;
    font-size: 2rem;
  }

  .contenti h3 {
    font-family: "roboto slab", serif;
    font-size: 2.3rem;
  }
  /* font size end */
  .cod {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .first-crid {
    order: 2;
  }

  .second-crid {
    order: 1;
  }

  .third-crid {
    order: 3;
  }

  .fourth-crid {
    order: 4;
  }

  .img-txt {
    display: block;
    padding-bottom: 14px;
  }

  .first-crid h4 {
    display: none;
  }

  .fourth-crid h4 {
    display: none;
  }

  .slide-div {
    max-width: 100%;
    align-items: center;
    padding: 15px !important;
  }
  .afterform {
    display: none;
  }
  .co {
    flex-basis: 100%;
  }

  .process-lg {
    display: none;
  }

  .process {
    display: block;
  }
  .front {
    margin-top: 60px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0 !important;
    top: 0 auto !important;
  }
  .card {
    margin-bottom: 40px;
  }
  .cardi-text {
    margin: 10px 15px;
  }
  .card-sect .card {
    flex-basis: 100%; /* Each flex item takes full width */
    display: block; /* Change display to block */
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
  }

  .cod .codi {
    flex-basis: 100%; /* Each flex item takes full width */
    display: block; /* Change display to block */
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
  }

  /* 782 group */
  .containerr {
    padding-top: 90px;
    padding-bottom: 60px;
    padding: 0 20px;
    max-width: 100%;
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;
  }

  .column {
    width: 50%;

    /* margin-bottom: 30px; */
  }
  .co-serve {
    width: 50%;
  }

  .first {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
  .co-cont {
    padding-top: 20px;
  }
  .footr {
    padding: 0 40px;
    align-items: center;
  }
  .im-sect {
    flex-direction: column;
  }

  .coo {
    width: 100%;
    margin-left: 45%;
  }

  .co {
    width: 100%;
    margin: 10px auto;
    text-wrap: wrap;
  }

  .er-container {
    width: 100%;
    margin-bottom: 30px;
  }

  .open {
    padding: 20px;
    padding-top: 70px;
    padding-bottom: 60px;
  }
}

/* responsive second batch */
@media screen and (min-width: 769px) and (max-width: 900px) {
  .detai-img {
    display: none;
  }
  .banner {
    padding-top: 20px;
  }

  .banner h1 {
    font-family: "roboto slab", serif;
    font-size: 2.3rem;
    font-weight: bold;
    padding: auto 20px;
  }

  .div1 {
    left: 27%;
    top: 32%;
  }
  .div2 {
    left: 27%;
    top: 55%;
  }
  .div3 {
    margin-top: 20px;
  }
  .div4 {
    right: 29%;
    top: 32%;
  }
  .div5 {
    right: 26%;
    top: 55%;
  }

  .aboout img {
    width: 220px;
    height: 220px;
    right: 10px;
    bottom: 0px;
  }

  .detail-div {
    margin: auto 20px;
    align-items: center;
    justify-content: center;
  }
  .for-divider {
    display: none;
  }
  .fore-divider {
    display: none;
  }

  .cod {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .cod .codi {
    flex-basis: 100%; /* Each flex item takes full width */
    display: block; /* Change display to block */
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
  }

  .cour {
    display: block;
    padding-bottom: 40px;
  }
  .cour span {
    top: -0.9em;
    right: 1em;
    padding: 0 0.5em;
    font-size: 20px;
  }
  .first-cridi {
    order: 2;
  }
}

/* Responsive first row homepage */

@media screen and (min-width: 1340px) {
  .front {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1339px) {
  .front {
    margin-top: 90px;
  }
}

@media screen and (max-width: 850px) {
  .front {
    margin-top: 90px;
  }
}
